<div class="pull-right hidden-xs">
    <b>Version</b> 1.0 <br />

</div>
<div class="div-media">

    <a class="media" href=""><img src="~/images/social/facebook.png" /></a>
    <a class="media" href=""><img src="~/images/social/instagram.png" /></a>
    @*<div><a class="media" href=""><img src="~/images/social/linkedin.png" /></a></div>
        <div><a class="media" href=""><img src="~/images/social/twitter.png" /></a></div>
        <div><a class="media" href=""><img src="~/images/social/whatsapp.png" /></a></div>
        <div><a class="media" href=""><img src="~/images/social/youtube.png" /></a></div>*@

</div>
<strong>Copyright &copy; 2020  All rights reserved.</strong>
